@font-face {
    font-family: 'VictorMono';
    src: url('VictorMono-Regular.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'VictorMono';
}

body {
    font-family: 'VictorMono';
}

.div {
    background-color: rgba(0, 0, 0, 0.438);
    border-radius: 5px;
    border: linear-gradient(to left, rgb(0, 0, 0), rgb(59, 2, 50));
    color: white;
    width: fit-content;
}

button {
    font-family: 'VictorMono';
}